<template>
  <!-- TODO: Test Faire en sorte que les boutons soient verticalement alignés en mode mobile, horizontalement alignés à partir de tablette -->
  <section class="text-gray-700 body-font">
    <div class="container mx-auto flex px-5 pt-24 pb-12 md:flex-row flex-col items-center">
      <div
        class="lg:flex-grow flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center w-full"
      >
        <div class="flex flex-col md:flex-row w-full">
          <div class="md:w-1/2 flex flex-col order-2 md:order-1">
            <h1 class="title-font sm:text-4xl text-3xl font-medium text-gray-900">{{ prenom }}</h1>
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">{{ nom }}</h1>
            <p class="mb-8 leading-relaxed">{{ description }}</p>
          </div>
          <div
            class="flex order-1 md:order-2 mx-auto md:ml-auto md:mr-0 mb-8 md:mb-0 w-20 h-20 bg-blue-500 rounded-lg"
          >
            <img class="rounded-lg shadow" alt="Ma photo" src="../assets/images/profile.jpg" />
          </div>
        </div>
        <div class="flex flex-col md:flex-row justify-center items-center gap-4">
          <!-- Start of Stackoverflow Button -->
          <button class="button || py-4 || text-white bg-indigo-200 hover:bg-indigo-400">
            <a class="w-20 mx-auto" :href="links.github" target="_blank">
              <img
                class="flex"
                src="https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png"
              />
            </a>
          </button>
          <!-- End of stackoverflow button -->
          <button class="button || py-2 || text-gray-700 bg-gray-200 hover:bg-gray-300">
            <a class="flex w-20 mx-auto" :href="links.linkedln" target="_blank">
              <linkedin-logo class="h-8" />
            </a>
          </button>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import LinkedinLogo from "./LinkedinLogo.vue";
export default {
  data() {
    return {
      prenom: "Margaux",
      nom: "Hamel",
      description: "Naturally committed and curious! I have an excellent sense of contact with all types of people. High adaptability to be comfortable in any workplace. I am stimulated by the desire to learn new things.",
      links: {

        github: "https://gitlab.com/MargauxxuagraM",
        linkedln: "https://www.linkedin.com/in/margaux-hamel-893249173/"
      }
    };
  },
  components: {
    LinkedinLogo
  }
};
</script>

<style scoped>
.st0 {
  fill: #222426;
}
.st1 {
  fill: #bcbbbb;
}
.st2 {
  fill: #f48024;
}
.button {
  width: 12rem;
  font-size: 1.25rem;
  display: inline-flex;
  border-width: 0rem;
  border-radius: 0.25rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  align-items: center;
}
.button:focus {
  outline: 0;
}
</style>