<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 291 79.46">
    <path
      d="M213.883 7.245c0-3.015 2.507-5.462 5.6-5.462h64.569c3.092 0 5.599 2.447 5.599 5.462V72.57c0 3.017-2.507 5.462-5.6 5.462h-64.569c-3.092 0-5.599-2.445-5.599-5.462V7.245z"
      fill="#069"
    />
    <path
      d="M1.786 65.652h31.62V55.27H13.229V15.665H1.786v49.987zM49.414 65.652v-34.43H37.97v34.43h11.444zm-5.722-39.13c3.991 0 6.475-2.644 6.475-5.95-.074-3.378-2.484-5.947-6.398-5.947-3.916 0-6.475 2.57-6.475 5.947 0 3.306 2.483 5.95 6.324 5.95h.074zM54.728 65.652h11.444V46.424c0-1.029.074-2.057.377-2.792.827-2.055 2.71-4.185 5.871-4.185 4.142 0 5.798 3.159 5.798 7.784v18.42h11.443V45.91c0-10.576-5.646-15.497-13.176-15.497-6.173 0-8.883 3.451-10.39 5.802h.077v-4.993H54.728c.15 3.231 0 34.43 0 34.43zM105.805 15.665H94.361v49.987h11.444V54.489l2.86-3.6 8.96 14.763h14.078L116.646 44.28l13.175-14.541h-13.777s-9.41 13.01-10.239 14.552V15.665z"
      fill-rule="evenodd"
    />
    <path
      d="M162.307 51.29c.15-.884.376-2.58.376-4.498 0-8.9-4.518-17.935-16.412-17.935-12.724 0-18.596 10.063-18.596 19.19 0 11.288 7.152 18.338 19.65 18.338 4.968 0 9.56-.733 13.325-2.276l-1.506-7.558c-3.087 1.024-6.249 1.536-10.163 1.536-5.346 0-10.013-2.194-10.39-6.87l23.716.071zm-23.79-7.742c.3-2.938 2.258-7.272 7.152-7.272 5.193 0 6.399 4.628 6.399 7.272h-13.552zM190.93 15.665v17.304h-.15c-1.657-2.422-5.12-4.038-9.712-4.038-8.809 0-16.563 7.05-16.488 19.094 0 11.164 7.002 18.435 15.735 18.435 4.743 0 9.26-2.057 11.518-6.024h.227l.451 5.216h10.165c-.151-2.424-.303-6.61-.303-10.722V15.665H190.93zm0 34.05c0 .88-.075 1.763-.226 2.496-.677 3.159-3.388 5.361-6.7 5.361-4.743 0-7.83-3.818-7.83-9.84 0-5.655 2.636-10.208 7.905-10.208 3.538 0 6.023 2.423 6.701 5.433.15.663.15 1.397.15 2.057v4.701z"
      fill-rule="evenodd"
    />
    <path
      d="M236.85 65.61V31.18h-11.443v34.43h11.444zm-5.721-39.13c3.99 0 6.474-2.644 6.474-5.948-.074-3.379-2.484-5.949-6.399-5.949-3.914 0-6.474 2.57-6.474 5.949 0 3.304 2.484 5.948 6.324 5.948h.074zM243.183 65.61h11.444V46.385c0-1.03.074-2.057.376-2.793.828-2.056 2.71-4.185 5.872-4.185 4.141 0 5.798 3.157 5.798 7.786V65.61h11.443V45.869c0-10.575-5.646-15.496-13.175-15.496-6.174 0-8.884 3.45-10.39 5.8h.076v-4.992h-11.444c.15 3.23 0 34.43 0 34.43z"
      fill="#fff"
      fill-rule="evenodd"
    />
  </svg>
</template>