<template>
  <section class="text-gray-700 body-font">
    <div class="py-24">
      <experience-row :experience="experiences.datascience" order="right">
        <datascience-logo />
      </experience-row>
      <experience-row :experience="experiences.devops">
        <devops-logo />
      </experience-row>
      <experience-row :experience="experiences.web" order="right">
        <web-logo />
      </experience-row>
      <experience-row :experience="experiences.software">
        <software-logo />
      </experience-row>
    </div>
  </section>
</template>

<script>
import ExperienceRow from "./ExperienceRow.vue";
import DatascienceLogo from "./ExperienceLogo/DatascienceLogo.vue";
import DevopsLogo from "./ExperienceLogo/DevopsLogo.vue";
import WebLogo from "./ExperienceLogo/WebLogo.vue";
import SoftwareLogo from "./ExperienceLogo/SoftwareLogo.vue";
export default {
  components: {
    ExperienceRow,
    DatascienceLogo,
    DevopsLogo,
    WebLogo,
    SoftwareLogo
  },
  data() {
    return {
      experiences: {
        devops: {
          label: "DevOps, CI/CD and DataOps",
          description:
            "Automating infrastructure provisioning, application continuous delivery and deployment, maintenance scenarios.",
          tags: [
            { tag: "docker", icon: "logo-docker" },
            { tag: "traefik", icon: "logo-buffer" },
            { tag: "prometheus", icon: "eye-outline" },
            { tag: "git", icon: "git-branch-outline" },
            { tag: "cloud", icon: "cloud-outline" },
            { tag: "gitlab", icon: "logo-gitlab" },
            { tag: "gitHub", icon: "logo-gitlab" },
            { tag: "Rstudio", icon: "logo-rstudio" }
          ]
        },
        datascience: {
          label: "DataScience & Machine Learning",
          description:
            "Building machine learning pipelines to perform quality control or optimization process in manufacturing plants.",
          tags: [
            { tag: "data profiling", icon: "podium-outline" },
            { tag: "image recognition", icon: "eye-outline" },
            { tag: "image classification", icon: "eye-outline" },
            { tag: "time series classification", icon: "pulse-outline" },
            { tag: "neural network", icon: "eye-outline" },
            { tag: "Supervised learning", icon: "eye-outline" },
          ]
        },
        web: {
          label: "Web development",
          description:
            "Building websites",
          tags: [
            { tag: "html", icon: "logo-html5" },
            { tag: "css", icon: "logo-css3" },
            { tag: "web components", icon: "shapes-outline" },
            { tag: "design systems", icon: "construct-outline" },
            { tag: "tailwindcss", icon: "color-wand-outline" },
            { tag: "vue", icon: "logo-vue" }
          ]
        },
        software: {
          label: "Software Engineering",
          description:
            "Development of various small software",
          tags: [
            { tag: "SQL databases", icon: "server-outline" },
            { tag: "document oriented databases", icon: "reader-outline" },
            { tag: "data flow management", icon: "shuffle-outline" }
          ]
        }
      }
    };
  }
};
</script>