<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 96 96">
    <path
      fill="#63b2b9"
      d="M93.775 35a70.83 70.83 0 01-.917-3.282C88.717 15.22 73.79 3.004 56.008 3L56 3.008V16h-.193c-1.043 0-2.022-.401-2.859-1.022a4.947 4.947 0 00-3.882-.892c-1.95.357-3.551 1.902-3.954 3.843A5.005 5.005 0 0050 24a4.92 4.92 0 002.978-1c.821-.62 1.796-1 2.825-1H56v13z"
    />
    <path
      fill="#63b2b9"
      d="M41 39V26h-.193c-1.043 0-2.022.401-2.859 1.022a4.947 4.947 0 01-3.882.892c-1.95-.357-3.551-1.902-3.954-3.843A5.005 5.005 0 0135 18a4.92 4.92 0 012.978 1c.821.62 1.796 1 2.825 1H41V7.008c-20.305.005-37.285 16.33-37.977 36.666a37.854 37.854 0 009.299 26.249C17.773 76.188 21 84.078 21 92.383V93h36V83h18a4 4 0 004-4V63h6.87c1.107 0 2.182-.543 2.726-1.508a3.044 3.044 0 00-.16-3.282l-1.228-1.72c-3.796-5.314-6.545-11.252-8.433-17.49z"
    />
    <path
      fill="#f9aa3d"
      d="M75 18a7 7 0 10-14 0 6.992 6.992 0 004 6.317V27h6v-2.683A6.992 6.992 0 0075 18z"
    />
    <path
      fill="#ec2f53"
      d="M44.92 52.89c.05.49.08.99.08 1.5s-.03 1.01-.08 1.51l-3.13.78c-.21 1.19-.59 2.33-1.11 3.38l2.08 2.47c-.52.87-1.11 1.69-1.78 2.44L38 63.76c-.86.82-1.82 1.54-2.88 2.1l.23 3.22c-.91.39-1.87.7-2.86.92l-1.71-2.74c-.58.08-1.17.13-1.78.13s-1.2-.05-1.78-.13L25.51 70c-.99-.22-1.95-.53-2.86-.92l.23-3.22c-1.06-.56-2.02-1.28-2.88-2.1l-2.98 1.21c-.67-.76-1.26-1.57-1.78-2.44l2.08-2.47c-.52-1.05-.9-2.19-1.11-3.39l-3.13-.77c-.05-.5-.08-1-.08-1.51s.03-1.01.08-1.5l3.13-.78c.21-1.19.59-2.33 1.11-3.39l-2.08-2.46c.52-.87 1.11-1.69 1.78-2.44L20 45.03c.86-.83 1.82-1.54 2.88-2.11l-.23-3.21c.91-.4 1.87-.7 2.86-.92l1.71 2.74c.58-.08 1.17-.14 1.78-.14s1.2.06 1.78.14l1.71-2.74c.99.22 1.95.52 2.86.92l-.23 3.21c1.06.57 2.02 1.28 2.88 2.11l2.98-1.21c.67.75 1.26 1.57 1.78 2.44l-2.08 2.46c.52 1.06.9 2.2 1.11 3.39z"
    />
    <circle cx="29" cy="54.395" r="8" fill="#f0f0f0" />
    <circle cx="49" cy="83" r="1" />
    <circle cx="45" cy="83" r="1" />
    <circle cx="41" cy="83" r="1" />
    <path
      d="M71.778 48.707a.999.999 0 10-1.414-1.414c-3.51 3.51-9.219 3.51-12.729 0a.999.999 0 10-1.414 1.414 10.964 10.964 0 007.778 3.217c2.819 0 5.635-1.072 7.779-3.217zM94.733 34.71a68.877 68.877 0 01-.904-3.234C89.473 14.125 73.92 2.004 56.008 2c-.266 0-.527.113-.715.301S55 2.742 55 3.008v11.887a4.276 4.276 0 01-1.456-.72 5.934 5.934 0 00-4.659-1.072c-2.359.433-4.27 2.29-4.753 4.623-.375 1.808.067 3.652 1.213 5.06S48.187 25 50 25c1.3 0 2.538-.415 3.582-1.202A3.964 3.964 0 0155 23.101V35a1 1 0 001 1h37.775a1.002 1.002 0 00.958-1.29zM57 34V22a1 1 0 00-1-1h-.197c-1.202 0-2.387.416-3.427 1.201A3.912 3.912 0 0150 23a3.983 3.983 0 01-3.104-1.478c-.775-.952-1.061-2.156-.805-3.391.319-1.545 1.588-2.775 3.155-3.062a3.96 3.96 0 013.104.711c1.074.798 2.269 1.22 3.456 1.22H56a1 1 0 001-1V4.014c16.573.441 30.837 11.81 34.889 27.948.161.643.343 1.316.549 2.038z"
    />
    <path
      d="M88.021 55.909c-3.551-4.972-6.339-10.758-8.288-17.199a1 1 0 00-.957-.71H52a1 1 0 100 2h26.037c2.001 6.365 4.81 12.106 8.356 17.071l1.229 1.72c.465.65.504 1.498.103 2.21-.347.616-1.058.999-1.855.999H79a1 1 0 00-1 1v7h-7c-1.654 0-3-1.346-3-3v-1a1 1 0 10-2 0v1c0 2.757 2.243 5 5 5h7v7c0 1.654-1.346 3-3 3H53a1 1 0 100 2h3v8H21.998c-.096-8.163-3.256-16.222-8.923-22.732-6.157-7.077-9.373-16.154-9.054-25.559C4.681 24.364 20.723 8.558 40 8.022V18.9a3.979 3.979 0 01-1.419-.698A5.9 5.9 0 0035 17c-1.813 0-3.51.808-4.655 2.215s-1.588 3.252-1.213 5.06c.483 2.333 2.394 4.19 4.753 4.623a5.938 5.938 0 004.659-1.072 4.294 4.294 0 011.456-.72V39a1 1 0 001 1h3a1 1 0 100-2h-2V26a1 1 0 00-1-1h-.193c-1.188 0-2.382.422-3.456 1.22a3.944 3.944 0 01-3.104.711c-1.567-.287-2.836-1.518-3.155-3.062-.256-1.234.029-2.438.805-3.391A3.98 3.98 0 0135 19c.862 0 1.684.276 2.375.798 1.041.786 2.226 1.202 3.428 1.202H41a1 1 0 001-1V7.008a1.003 1.003 0 00-1-1C20.214 6.014 2.73 22.896 2.024 43.641c-.337 9.912 3.051 19.479 9.544 26.939C17.005 76.829 20 84.573 20 92.383V93a1 1 0 001 1h36a1 1 0 001-1v-9h17c2.757 0 5-2.243 5-5V64h5.87c1.518 0 2.896-.772 3.597-2.017.787-1.397.703-3.065-.218-4.354z"
    />
    <path
      d="M45.164 52.131l-2.522-.624a13.981 13.981 0 00-.785-2.412l1.667-1.981a1 1 0 00.096-1.153 17.13 17.13 0 00-1.886-2.591 1.003 1.003 0 00-1.125-.265l-2.396.973a14.102 14.102 0 00-2.053-1.498l.187-2.584a1 1 0 00-.6-.99 16.933 16.933 0 00-3.041-.981 1.004 1.004 0 00-1.067.448l-1.369 2.203a11.704 11.704 0 00-2.538 0l-1.371-2.203a1.001 1.001 0 00-1.066-.448 16.8 16.8 0 00-3.04.982.998.998 0 00-.6.989l.186 2.584c-.723.433-1.409.934-2.053 1.498l-2.396-.973a1.001 1.001 0 00-1.125.265 17.13 17.13 0 00-1.886 2.591.997.997 0 00.096 1.153l1.667 1.981c-.335.78-.598 1.587-.785 2.412l-2.522.624a1 1 0 00-.755.877 16.654 16.654 0 00-.082 1.6c0 .502.026 1.025.081 1.599a1 1 0 00.755.877l2.522.624c.188.825.45 1.632.785 2.412l-1.667 1.981a1 1 0 00-.096 1.153 17.13 17.13 0 001.886 2.591c.28.319.734.421 1.125.265l2.396-.973c.643.564 1.33 1.065 2.053 1.498l-.187 2.584c-.031.424.21.82.6.989a16.89 16.89 0 003.041.982 1 1 0 001.067-.448l1.369-2.203c.912.094 1.628.094 2.538 0l1.371 2.203a.998.998 0 001.067.449 16.8 16.8 0 003.04-.982.998.998 0 00.6-.989l-.186-2.584a14.156 14.156 0 002.053-1.498l2.396.973c.392.156.844.055 1.125-.265a16.982 16.982 0 001.886-2.591.997.997 0 00-.096-1.153l-1.667-1.981c.335-.78.599-1.587.785-2.412l2.522-.624a1 1 0 00.755-.877c.055-.575.081-1.098.081-1.6 0-.503-.026-1.026-.081-1.6a1 1 0 00-.755-.877zm-1.183 3.185l-2.434.603a.998.998 0 00-.744.796 11.821 11.821 0 01-1.019 3.127.998.998 0 00.135 1.081l1.606 1.91c-.262.397-.541.782-.837 1.151l-2.31-.938a1.003 1.003 0 00-1.069.206 12.03 12.03 0 01-2.664 1.943 1 1 0 00-.525.954l.179 2.488c-.436.164-.885.309-1.345.433l-1.324-2.127a1 1 0 00-.985-.463c-1.268.177-2.024.177-3.292 0a.999.999 0 00-.985.463l-1.322 2.127c-.46-.124-.91-.269-1.346-.433l.18-2.488a1.001 1.001 0 00-.525-.954 12.063 12.063 0 01-2.664-1.943 1.002 1.002 0 00-1.069-.206l-2.309.938a15.376 15.376 0 01-.838-1.151l1.606-1.909a.998.998 0 00.135-1.081 11.907 11.907 0 01-1.019-3.127.998.998 0 00-.744-.796l-2.434-.603a13.397 13.397 0 01.001-1.418l2.434-.603a.998.998 0 00.744-.796 11.834 11.834 0 011.019-3.127.998.998 0 00-.135-1.081l-1.606-1.909c.262-.397.542-.782.838-1.151l2.309.938c.362.146.783.067 1.069-.206a12.03 12.03 0 012.664-1.943 1 1 0 00.525-.954l-.179-2.488c.436-.164.885-.309 1.345-.433l1.324 2.127c.208.335.597.516.984.463 1.259-.173 2.036-.173 3.292 0 .396.049.776-.129.985-.463l1.322-2.127c.459.124.908.269 1.346.433l-.18 2.488c-.028.395.178.768.525.954a12.063 12.063 0 012.664 1.943c.285.273.705.352 1.069.206l2.309-.938c.296.369.576.754.838 1.151l-1.606 1.909a.998.998 0 00-.135 1.081c.484.993.826 2.045 1.019 3.127.068.389.36.701.744.796l2.434.603a13.367 13.367 0 010 1.417z"
    />
    <path
      d="M29 45.608c-4.963 0-9 4.037-9 9a8.96 8.96 0 003.374 7.025 1.001 1.001 0 001.252-1.56 6.974 6.974 0 01-1.581-9.125L28 55.077v7.531a1 1 0 001 1c4.963 0 9-4.037 9-9s-4.037-9-9-9zm4.673 3.803L29 53.306l-4.673-3.895c1.241-1.117 2.876-1.803 4.673-1.803s3.432.686 4.673 1.803zM30 61.536v-6.46l4.955-4.129A6.95 6.95 0 0136 54.608c0 3.52-2.612 6.442-6 6.928zM15 38a1 1 0 102 0v-8a1 1 0 10-2 0zM20 36a1 1 0 102 0v-8a1 1 0 10-2 0zM25 34a1 1 0 102 0v-8a1 1 0 10-2 0zM48 61a1 1 0 001 1h8a1 1 0 100-2h-8a1 1 0 00-1 1zM45 66a1 1 0 001 1h8a1 1 0 100-2h-8a1 1 0 00-1 1zM52 71a1 1 0 00-1-1h-8a1 1 0 100 2h8a1 1 0 001-1z"
    />
    <circle cx="26" cy="22" r="1" />
    <circle cx="21" cy="24" r="1" />
    <circle cx="16" cy="26" r="1" />
    <circle cx="61" cy="61" r="1" />
    <circle cx="58" cy="66" r="1" />
    <circle cx="55" cy="71" r="1" />
    <path
      d="M68 10c-4.411 0-8 3.589-8 8 0 2.851 1.551 5.5 4 6.92V27a1 1 0 001 1h6a1 1 0 001-1v-2.08c2.449-1.42 4-4.069 4-6.92 0-4.411-3.589-8-8-8zm2.57 13.414c-.348.166-.57.518-.57.904V26h-4v-1.683a1 1 0 00-.57-.903A6.026 6.026 0 0162 18c0-3.309 2.691-6 6-6s6 2.691 6 6a6.026 6.026 0 01-3.43 5.414zM71 30h-6a1 1 0 100 2h6a1 1 0 100-2z"
    />
    <path
      d="M69.293 15.293L68 16.586l-1.293-1.293a.999.999 0 10-1.414 1.414L67 18.414V22a1 1 0 102 0v-3.586l1.707-1.707a.999.999 0 10-1.414-1.414z"
    />
    <circle cx="48" cy="39" r="1" />
  </svg>
</template>