<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 64 64">
    <g data-name="Layer 34">
      <g data-name="database server">
        <rect width="40" height="12" x="3" y="19" fill="#57a4ff" rx="2" />
        <path
          fill="#2488ff"
          d="M43 21v8a2.006 2.006 0 01-2 2h-4a2.006 2.006 0 002-2v-8a2.006 2.006 0 00-2-2h4a2.006 2.006 0 012 2z"
        />
        <path fill="#acabb1" d="M33 31h6v4h-6zM33 15h6v4h-6z" />
        <path fill="#898890" d="M36 15h3v4h-3zM36 31h3v4h-3z" />
        <rect width="40" height="12" x="3" y="35" fill="#57a4ff" rx="2" />
        <path
          fill="#2488ff"
          d="M43 37v8a2.006 2.006 0 01-2 2h-4a2.006 2.006 0 002-2v-8a2.006 2.006 0 00-2-2h4a2.006 2.006 0 012 2z"
        />
        <path fill="#00b6bd" d="M15 39h4v4h-4zM15 23h4v4h-4z" />
        <rect width="40" height="12" x="3" y="3" fill="#57a4ff" rx="2" />
        <path
          fill="#2488ff"
          d="M43 5v8a2.006 2.006 0 01-2 2h-4a2.006 2.006 0 002-2V5a2.006 2.006 0 00-2-2h4a2.006 2.006 0 012 2z"
        />
        <path fill="#00b6bd" d="M15 7h4v4h-4z" />
        <path fill="#acabb1" d="M7 31h6v4H7zM7 15h6v4H7z" />
        <path fill="#898890" d="M10 15h3v4h-3zM10 31h3v4h-3z" />
        <path fill="#ff7956" d="M7 39h4v4H7zM7 23h4v4H7zM7 7h4v4H7z" />
        <path
          fill="#ffde55"
          d="M61 46v10c0 2.76-8.06 5-18 5s-18-2.24-18-5V46c0 2.76 8.06 5 18 5s18-2.24 18-5z"
        />
        <path
          fill="#ffde55"
          d="M61 36v10c0 2.76-8.06 5-18 5s-18-2.24-18-5V36c0 2.76 8.06 5 18 5s18-2.24 18-5z"
        />
        <path
          fill="#ffde55"
          d="M61 26v10c0 2.76-8.06 5-18 5s-18-2.24-18-5V26c0 2.76 8.06 5 18 5s18-2.24 18-5z"
        />
        <g fill="#ffcd00">
          <ellipse cx="43" cy="26" rx="18" ry="5" />
          <path
            d="M61 46v10c0 2.76-8.06 5-18 5-.68 0-1.34-.01-2-.04 9-.27 16-2.39 16-4.96v-6.86c2.5-.86 4-1.95 4-3.14z"
          />
          <path
            d="M61 36v10c0 1.19-1.5 2.28-4 3.14A46.109 46.109 0 0143 51c-.68 0-1.34-.01-2-.04 9-.27 16-2.39 16-4.96v-6.86c2.5-.86 4-1.95 4-3.14z"
          />
          <path
            d="M61 26v10c0 1.19-1.5 2.28-4 3.14A46.109 46.109 0 0143 41c-.68 0-1.34-.01-2-.04 9-.27 16-2.39 16-4.96v-6.86c2.5-.86 4-1.95 4-3.14z"
          />
        </g>
        <path
          fill="#ebbf00"
          d="M61 26c0 1.19-1.5 2.28-4 3.14A46.109 46.109 0 0143 31c-.68 0-1.34-.01-2-.04 9-.27 16-2.39 16-4.96s-7-4.69-16-4.96c.66-.03 1.32-.04 2-.04 9.94 0 18 2.24 18 5z"
        />
        <path
          fill="#ffde55"
          d="M57 46v3.14A46.109 46.109 0 0143 51c-.68 0-1.34-.01-2-.04 9-.27 16-2.39 16-4.96zM57 36v3.14A46.109 46.109 0 0143 41c-.68 0-1.34-.01-2-.04 9-.27 16-2.39 16-4.96z"
        />
        <path
          d="M43.82 20.01A2.986 2.986 0 0041 18h-1v-2h1a3.009 3.009 0 003-3V5a3.009 3.009 0 00-3-3H5a3.009 3.009 0 00-3 3v8a3.009 3.009 0 003 3h1v2H5a3.009 3.009 0 00-3 3v8a3.009 3.009 0 003 3h1v2H5a3.009 3.009 0 00-3 3v8a3.009 3.009 0 003 3h19v8c0 3.94 9.56 6 19 6s19-2.06 19-6V26c0-3.83-9.01-5.87-18.18-5.99zM5 14a1 1 0 01-1-1V5a1 1 0 011-1h36a1 1 0 011 1v8a1 1 0 01-1 1zm33 2v2h-4v-2zm-6 0v2H14v-2zm-20 0v2H8v-2zm12 30H5a1 1 0 01-1-1v-8a1 1 0 011-1h19zM8 34v-2h4v2zm16 0H14v-2h10zm0-8v4H5a1 1 0 01-1-1v-8a1 1 0 011-1h36a.7.7 0 01.14.03C32.34 20.28 24 22.32 24 26zm36 30c0 1.36-6 4-17 4s-17-2.64-17-4v-7.18C29.29 50.91 36.16 52 43 52s13.71-1.09 17-3.18zm0-10c0 1.36-6 4-17 4s-17-2.64-17-4v-7.18C29.29 40.91 36.16 42 43 42s13.71-1.09 17-3.18zm0-10c0 1.36-6 4-17 4s-17-2.64-17-4v-7.18C29.29 30.91 36.16 32 43 32s13.71-1.09 17-3.18zm-17-6c-11 0-17-2.64-17-4s6-4 17-4 17 2.64 17 4-6 4-17 4z"
        />
        <path
          d="M42 35h2v2h-2zM42 46h2v2h-2zM42 55h2v2h-2zM11 22H7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1v-4a1 1 0 00-1-1zm-1 4H8v-2h2zM19 22h-4a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1v-4a1 1 0 00-1-1zm-1 4h-2v-2h2zM11 6H7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V7a1 1 0 00-1-1zm-1 4H8V8h2zM19 6h-4a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V7a1 1 0 00-1-1zm-1 4h-2V8h2zM22 6h14v2H22zM38 6h2v2h-2zM22 10h14v2H22zM38 10h2v2h-2zM11 38H7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1v-4a1 1 0 00-1-1zm-1 4H8v-2h2zM19 38h-4a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1v-4a1 1 0 00-1-1zm-1 4h-2v-2h2z"
        />
      </g>
    </g>
  </svg>
</template>